<!DOCTYPE html>
<html class="no-js" lang="">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Myrecipes</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:700' rel='stylesheet' type='text/css'> 
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "js/vendor/modernizr-2.8.3.min.js" %>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
